<header>
  <%= render 'layouts/navigation' %>
</header>
<main>
  <div class="container">


    <section class="intro mt-5 p-5">
      <div class="mt-5"></div>
      <h1 class="text-center">Why work with us?</h1>
      <p>
        <h5 class="text-center">
          <p>Notary Junction provides a host of notary tools to help you collaborate better with those who need your expertise.</p>
          <p>We offer both free and paid plans depending on your goals. As one of our valued notaries, you'll have access to more than just the benefits of <strong>broader market coverage</strong>, but a variety of tools to <strong>boost your success</strong> as demand for your services grows.</p>
        </h5>
      </p>
    </section>



    <hr>





    <!-- Section: Features v.2 -->
    <section class="my-5">
      <!-- Section heading -->
      <h2 class="text-center my-5">Powerful features that <strong><i>grow</i></strong> your notary business</h2>
      <!-- Section description -->
      <p class="lead grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.</p>
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-heart text-primary fa-2x"></i>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Marketing</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-cogs text-secondary fa-2x"></i>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Customization</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-tachometer text-default fa-2x"></i>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Support</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Grid column -->
      </div>
      <div class="row mt-5">
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-heart text-success fa-2x"></i>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Marketing</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-cogs text-warning fa-2x"></i>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Customization</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-tachometer text-info fa-2x"></i>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Support</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Features v.2 -->


    <hr>





    <!-- Section: Testimonials v.3 -->
    <section class="team-section text-center my-5 p-5">
      <!-- Section heading -->
      <h2 class="text-center">What some of our notaries are saying</h2>
      <!-- Section description -->
      <p class="dark-grey-text w-responsive mx-auto mb-5">Don't take our word for it. The Notary Junction database has roughly 21,000 notary notaries from all over the country. We've helped them capture more signing business while developing trusted relationships with their clients. We can help you too.</p>
      <!--Grid row-->
      <div class="row text-center">
        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
            <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
              eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
            <!--Review-->
            <div class="orange-text">
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star-half"> </i>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
            <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid commodi.</p>
            <!--Review-->
            <div class="orange-text">
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
            </div>
          </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
            </div>
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
            <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum.</p>
            <!--Review-->
            <div class="orange-text">
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
            </div>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Testimonials v.3 -->






  </div>
</main>
<%= render 'layouts/footer' %>
