<section class="pt-5 mt-5">
	<h1>Profile page for <%= current_user.first_name+' '+ current_user.last_name %></h1>
  
  <section class="profile-info">
    Stuff
  </section>

	<% if user_signed_in? %>
  <section class="plan-info">
    <%= button_to "Edit My Profile", edit_user_path, method: :get %><br />
    <div>Your current plan is <%= @plan_name %> </div>
  </section>
	<% end %>