<section class="pt-5 mt-5">
	<h1>Profile page for <%= @user.first_name+' '+@user.last_name %></h1>

	<% if user_signed_in? && (current_user.id == @user.id) %>
	<%= button_to "Edit My Profile", edit_user_path, method: :get %>
	<% end %>
</section>