.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}
html,
body,
.home-header,
.view {
  height: 100%;
}

h1, h2 {
  color: rgb(66, 133, 244) !important;
}

.team-section {
  background-color: #e5e5e5;
}

nav {
    border-bottom: 1px solid #78909c;
}

@media only screen and (min-width: 990px) {
  nav {
    height: 100px;
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
}

hr {
  background-color: #f2f2f2 !important;
}