.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}
html,
body,
.home-header,
.view {
  height: 100%;
}

h1, h2 {
  color: rgb(66, 133, 244) !important;
}

nav {
    border-bottom: 1px solid #78909c;
}

@media only screen and (min-width: 990px) {
  nav {
    height: 100px;
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
}

hr {
  background-color: #f2f2f2 !important;
}

html, body {
  overflow-x: hidden;
}
.full-width {
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
  padding-top: 50px;
  padding-bottom: 50px;
}

.registration-item-premium {
  background: transparent;
  border-color: #ff8800;
}

.registration-item-basic {
  background: transparent;
  border-color: #2bbbad;
}

.registration-item-free {
  background: transparent;
  border-color: #4285f4;
}

ul {
  list-style-type: none;
}

.registration-error-list li:before {
  text-decoration: none;
  font-family: 'FontAwesome';
  content: '\f105';
  color: rgb(66, 133, 244);
  font-weight: bold;
  margin-left: -5%;
  padding-right: 1%;
}

.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: red; }

.form-dark input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=email]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.form-dark .modal-header {
    border-bottom: none;
}