<footer class="page-footer font-small unique-color-dark pt-4">
  <div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-outline-white btn-rounded" %>
      </li>
    </ul>
  </div>
  <div class="footer-copyright text-center py-3">© Copyright 2018-<%= Time.new.year %> //
    <%= link_to " Reliable Signings", root_path, class: "font-weight-bold" %>
  </div>
</footer>
